<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">
        constants = {
            page: '@Url.RouteUrl("DefaultApi", new {controller = "Human", action = "page" })',
            human: '@Url.RouteUrl("DefaultApi", new { controller = "Human", action = "human" })',
            token: '@Url.RouteUrl("DefaultApi", new {controller = "Identity", action = "token" })',
            tokenKey: 'tokenKey'
        }
    </script>
    <title>Index</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div id="content">
    </div>
    <script type="text/javascript" src="~/lib/jQuery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/bundle.js")"></script>
</body>
</html>